<h1 hidden>Copybook JSON Conversion</h1>
<div *ngIf="step==null">
  <p class="alert alert-info">Instructions: This tool allows copybooks files to be converted into JSON
    Files for application consumption. First select copybook template then select flatfiles associated with
    copybook. Select Generate JSON and files will be zipped and provided to you as a download.</p>

  <div class="row mt-3">
    <div class="col-12">
      <button class="btn btn-primary float-end me-3" (click)="step=0">Start Conversion</button>
    </div>
  </div>
  <div class="card mt-3">
    <div class="border border-1 m-3 border rounded p-3">
      <app-json-search></app-json-search>
    </div>
  </div>
</div>
<div *ngIf="step!=null">
  <p *ngIf="step==3" class="alert alert-success mb-3">JSON has been generated</p>
  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col-6">
          Step {{step + 1}}
        </div>
        <div class="col-3 offset-3">
          <button class="btn btn-sm btn-secondary ml-2 float-end" (click)="toggleFileSearch()">Toggle Previous
            Files
          </button>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <div [ngClass]="{'col-12':!toggleSearch,'col-lg-8':toggleSearch}">
          <div *ngIf="step==0">
            <label for="formCopyFile" class="form-label">Select copybook</label>
            <input class="form-control" type="file" id="formCopyFile" (change)="stepIncrement()" observeFiles
                   [(ngModel)]="fileCopyInfo" accept=".cpy" placeholder="choose file">
          </div>
          <div *ngIf="step">
            <div class="row">
              <div class="col-3 border-end">
                <b>Copybook Selected:</b><br>
                <a href="#" class="link-danger pe-auto text-decoration-none"
                   (click)="step=0">x</a> {{fileCopyInfo.name}}
              </div>
              <div class="col-9">
                <div *ngIf="step==1">
                  <label for="formFiles" class="card-text form-label">Please select flatfiles to associate with
                    Copybook</label>
                  <input class="form-control" type="file" id="formFiles" (change)="stepIncrement()" observeFiles
                         [(ngModel)]="fileFlatFileInfo" multiple placeholder="choose file" accept=".dat">
                </div>
                <div *ngIf="step!=1">
                  <b>Flatfiles Selected:</b><br>
                  <div *ngFor="let item of fileFlatFileInfo">
                    <a href="#" class="link-danger pe-auto text-decoration-none"
                       (click)="removeItem(item)">x</a> {{item.name}}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="step==2">
            <div class="row mt-3">
              <div class="col-12">
                <button class="btn btn-primary float-start" (click)="convert()">
                  <svg class="bi" width="32" height="32" fill="currentColor">
                    <use xlink:href="bootstrap-icons.svg#gear"/>
                  </svg>
                  Generate JSON File
                </button>
                <button class="btn btn-primary float-end" (click)="step=null">Cancel</button>
              </div>
            </div>
          </div>
          <div *ngIf="step==3">
            <div class="row mt-3">
              <div class="col-12">
                <button class="btn btn-primary float-start" (click)="step=0">
                  <svg class="bi" width="32" height="32" fill="currentColor">
                    <use xlink:href="bootstrap-icons.svg#gear"/>
                  </svg>Generate Another JSON File</button>
                <button class="btn btn-primary float-end" (click)="step=null">Cancel</button>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="toggleSearch" class="col-lg-4 border p-3">
          <app-json-search [rows]="false"></app-json-search>
        </div>
      </div>
    </div>
  </div>
</div>
