<div class="container-fluid">
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <svg class="bi" width="32" height="32" fill="currentColor">
            <use xlink:href="bootstrap-icons.svg#tools"/>
          </svg>
          Mainframe Transformation</a>
      </div>
    </nav>
  </header>
  <div class="row">
    <div class="col-3">
      <div class="p-1">Tools</div>
      <nav class="nav flex-column border border-1">
        <a class="nav-link active border-bottom" aria-current="page" href="copybookConversion">
          <svg class="bi" width="32" height="32" fill="currentColor">
            <use xlink:href="bootstrap-icons.svg#subtract"/>
          </svg>
          Copybook To JSON</a>
        <a class="nav-link border-bottom" href="#">
          <svg class="bi" width="32" height="32" fill="currentColor">
            <use xlink:href="bootstrap-icons.svg#lightning"/>
          </svg>
          Some other future tool</a>
        <a class="nav-link" href="#">
          <svg class="bi" width="32" height="32" fill="currentColor">
            <use xlink:href="bootstrap-icons.svg#star-fill"/>
          </svg>
          Some other tool</a>
      </nav>
    </div>
    <div class="col-9 p-3">

      <router-outlet></router-outlet>
    </div>

  </div>
</div>
