<div class="row">
  <div [ngClass]="{'col-xl-6':rows}">
    <label hidden for="filterList">Filter File List</label>
    <input
      type="text" id="filterList"
      style="padding:8px;margin:15px auto;"
      placeholder="Type to filter"
      (keyup)="updateFilter($event)"
    />
    <ngx-datatable [rows]="dataRows" [columns]="columns" [columnMode]="ColumnMode.force"
                   [headerHeight]="50" [messages]="{'totalMessage':'total'}"
                   [footerHeight]="50"
                   rowHeight="auto"
                   [limit]="5" class="material"></ngx-datatable>

    <ng-template #viewTemplate let-row="row" let-value="value">
      <div mat-raised-button #tooltip="matTooltip" tabindex="0"
           matTooltip="Click to view contents"
           [matTooltipPosition]="'above'"
           aria-label="Button that displays a tooltip that hides when scrolled out of the container"
           class="view-button" (keyup.enter)="openDialog(value)" (click)="openDialog(value)">{{value}}</div>
    </ng-template>

  </div>
</div>
